.page {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.page.logo-page {
  background: var(--cyan-blue);
}

.logo-circle {
  background: var(--light-yellow);
  border-radius: 50%;
  width: 220px;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
