body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #92b7ff;
}

/*logo size */
.header-logo {
  width: 130px;
  height: auto;

}
/*header */
.header {
  height: 80px;
  background-color: #92b7ff;

  display: flex;
  align-items: center;

  padding: 0 24px;
  box-sizing: border-box;
}

.logo-link {
  text-decoration: none;
}

/* page layout */
.history-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 24px;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}

/* graph container */
.graph-container {
  background: white;
  border-radius: 14px;
  padding: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

.line-graph {
  width: 100%;
  height: auto;
}

/* graph styling */
.axis {
  stroke: black;
  stroke-width: 2;
}

.label {
  font-size: 12px;
  fill: black;
}

/* animated progress line */
.progress-line {
  fill: none;
  stroke: #1aa6a6;
  stroke-width: 4;

  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: drawLine 2s ease forwards;
}

@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
  }
}

/*table */
.data-table {
  width: 100%;
  margin-top: 24px;
  border-collapse: collapse;
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
}

.data-table th,
.data-table td {
  padding: 14px;
  text-align: center;
}

.data-table thead {
  background-color: #1aa6a6;
  color: white;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}