/* page base */
body {
  margin: 0;
  min-height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #92b7ff;
  font-family: Arial, sans-serif;
}
/*logo size */
.header-logo {
  width: 130px;
  height: auto;

}
/*header */
.header {
  height: 80px;
  background-color: #92b7ff;

  display: flex;
  align-items: left;

  padding: 0 24px;
  box-sizing: border-box;
}

/* page title */
h1 {
  margin-top: 24px;
  margin-bottom: 16px;
}

/* camera container */
#camera-container {
  width: 640px;
  height: 480px;

  background: white;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);

  display: flex;
  align-items: center;
  justify-content: center;
}

/* start button */
button {
  margin-top: 20px;
  padding: 12px 24px;

  font-size: 16px;
  font-weight: bold;

  border: none;
  border-radius: 8px;

  background-color: #1aa6a6;
  color: white;

  cursor: pointer;
  transition: transform 0.15s ease, opacity 0.15s ease;
}

button:hover {
  transform: translateY(-2px);
  opacity: 0.9;
}

button:active {
  transform: translateY(0);
}

/*back button*/
.nav-buttons {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.nav-buttons button {
  padding: 10px 20px;
  font-size: 15px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  background-color: #1aa6a6;
  color: white;
}

.nav-buttons button:hover {
  opacity: 0.9;
}

/* angle readouts/outputs */
#current-angle,
#max-angle {
  margin-top: 12px;
  font-size: 18px;
  font-weight: bold;
}