body {
  margin: 0;
  height: 100vh;
  background-color: #92b7ff;
  font-family: Arial, sans-serif;
  overflow: hidden;
}

/* centering wrapper */
.center-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* logo animationssszz */
.logo-container {
  animation: moveLogo 1.8s ease-in-out forwards;
  animation-delay: 0.4s;
}

.logo {
  width: 350px;
}

/* logo movements */
@keyframes moveLogo {
  to {
    transform: translate(-38vw, -35vh) scale(0.9);
  }
}

/* login box */
.login-box {
  position: absolute;
  top: 58%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: white;
  padding: 28px;
  border-radius: 12px;
  box-shadow: 0 12px 35px rgba(0, 0, 0, 0.25);

  display: flex;
  flex-direction: column;
  gap: 14px;

  width: 280px;

  opacity: 0;
  animation: fadeIn 0.8s ease forwards;
  animation-delay: 2.4s;
}

.login-box h2 {
  margin: 0 0 8px 0;
  text-align: center;
}

/* inputs */
.login-box input {
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: 1px solid #ccc;
}

/*button */
.login-box button {
  margin-top: 6px;
  padding: 10px;
  font-size: 1rem;
  border-radius: 6px;
  border: none;
  background-color: #1aa6a6;
  color: white;
  cursor: pointer;
}

.login-box button:hover {
  opacity: 0.9;
}

/*fade-in animation */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}